* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 780px;
    width: 317px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 44px;
    margin-bottom: 44px;
    background: #1A1B21;
}

body {
    padding: 0;
    background: #23252C;
}

.info-headshot {
    height: 317px;
    width: 140%;
    object-fit: cover;
    object-position: 100% 75%;
}

.info-name {
    margin-top: 21px;
    margin-bottom: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.info-position {
    margin-top: 6.19px;
    margin-bottom: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
}

.info-email {
    margin-top: 8.81px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
    color: #F5F5F5;
}

.info-buttons {
    display: flex;
    flex-direction: row;
    width: 247px;
    justify-content: space-between;
    margin: auto;
    background: #1A1B21;
    margin-top: 15px;
}

.email-button{
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.email-button > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linkedin-button > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linkedin-button {
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    background: #5093E2;
    border: 1px solid #5093E2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.linkedin-button > div > h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 8px;
}

.linkedin-button > div > img {
    align-self: center;
}

.email-button > div > h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #374151;
    margin-left: 8px;
}

.email-button > div > img {
    align-self: center;
}

.about-container > h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
    margin-top: 33px;
}

.about-container > p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
}

.about-container {
    width: 247px;
    margin: auto;
}

.interests-container > h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
    margin-top: 33px;
}

.interests-container > p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
}

.interests-container {
    width: 247px;
    margin: auto;
}

footer {
    display: flex;
    height: 64px;
    background: #161619;
}

.footer-container {
    display: flex;
    width: 171.5px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    
}
